
<div class="col-xs-6 row-style">

    <h1 class="font-roboto"> @Model.ProductName</h1>
    <p class="font-montserrat truncate">@Model.ProductPrice lei</p>
    <!-- rating eventual, -->
    <br />
    <img src=@Model.Photo width="300" height="300" />
    <br />

   
</div>
