
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Crete+Round&display=swap');
body {
    font: 50px Montserrat, sans-serif;
    line-height: 1.5;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-image: url('/Files/cover5.png');
    background-repeat: no-repeat;
    background-size: auto;
    color: #ffffff;
}

.bg-2 {
    background-color: #82589F;
    color: #ffffff;
}

.bg-3 {
    background-image: url('/Files/cover5.png');
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 0.8em;
}

.bg-4 {
    background-color: #2C3A47; 
    color: #fff;
    
}

.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1, h2, h3 {
    
    font-family: 'Crete Round', serif;
    font-size: 1em;
}

.btn {
    background-color: #B53471;
}


